.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 28px;
  margin: 0 0 15px 0;
}

.text {
  font-size: 18px;
  opacity: 0.7;
  text-align: center;
  margin: 0 0 10px 0;
}

.button {
  padding: 0;
  background: 0 0;
  border: none;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  font: inherit;
  text-align: center;
  word-break: break-word;
  word-wrap: wrap;
  overflow-wrap: break-word;
  -webkit-transition: color .3s,background-color .3s;
  transition: color .3s,background-color .3s;
  outline: 0;
}


.repeat {
  padding: 12px 20px 13px;
  color: #fff;
  background-color: #4481c3;
  border-radius: 3px;
  margin: 20px 0 0 0;
}
